<% include ./partials/header %>

<a href = "/books/new">Add New Book</a>

<% now.forEach(function(book){ %>

<h1><%= book.title %> </h1>
<img src = "<%= book.image %>">
<p><%= book.description.substring(0,50) %>...</p>

<a href = "/books/<%=book._id %>">Show more</a>



<% }) %>

<% include ./partials/footer %>